/vendor/
/node_modules/

.env

/storage/logs/*
!/storage/logs/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/public/assets/uploads/*
!/public/assets/uploads/.gitkeep

.DS_Store
Thumbs.db

.idea/
.vscode/

*.log
*.cache
*.tmp